# Server Configuration
PORT=5000
NODE_ENV=development
API_VERSION=v1
CLIENT_URL=http://localhost:5173

# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/tripsecure_db?retryWrites=true&w=majority

# Redis Caching Configuration
REDIS_URL=redis://localhost:6379

# JWT Authentication
JWT_SECRET=supersecretjwtkey_tripsecure_2026_change_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=supersecretrefreshkey_tripsecure_2026_change_in_production
JWT_REFRESH_EXPIRES_IN=7d

# MFA & Anti-Fraud Config
MFA_APP_NAME=TripSecureAI
QR_ENCRYPTION_KEY=32charslongsecretkeyforqrapp!!

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Nodemailer / SMTP Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alerts@tripsecure.ai
SMTP_PASS=your_smtp_app_password
EMAIL_FROM="TripSecure AI <alerts@tripsecure.ai>"

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
